@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body{
    padding-top: 12%;
    background-image:url('file:///C:/Users/user/Downloads/Mathematics.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.calculator {
    padding: 10px;
    border-radius: 1em;
    height: 380px;
    width: 400px;
    margin: auto;
    background-color: #0e0e11;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.display-box {
    font-family: 'Orbitron', sans-serif;
    background-color: #dcdbe1;
    border: solid black 0.5px;
    color: black;
    border-radius: 5px;
    width: 100%;
    height: 65%;
}

#btn {
    background-color: #2d05cd;
}

input[type=button] {
    font-family: 'Orbitron', sans-serif;
    background-color: #2e7410;
    color: white;
    border: solid black 0.5px;
    width: 100%;
    border-radius: 5px;
    height: 70%;
    outline: none;
}

input:active[type=button] {
    background: #faf7f7;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
}
